<div class="dasboard-col-2-header"><span class="text-span-5">Good Morning</span> Tobilola!</div>
    <div class="dashboard-overview-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit sodor.</div>
    <div class="dashboard-overview-div">
    <a href="account-details.html" class="dashboard-overview-box w-inline-block">
        <div class="icon-div"></div>
        <div class="overview-box-header">Get an Account Details</div>
    </a>
    <a href="search-rim-account.html" class="dashboard-overview-box w-inline-block">
        <div class="icon-div"></div>
        <div class="overview-box-header">Search with Name or Rim Number</div>
    </a>
    <a href="dispense-error.html" class="dashboard-overview-box w-inline-block">
        <div class="icon-div"></div>
        <div class="overview-box-header">View Dispense Error</div>
    </a>
    <a href="nuban-account.html" class="dashboard-overview-box w-inline-block">
        <div class="icon-div"></div>
        <div class="overview-box-header">Validate Nuban Account</div>
    </a>
    <a href="hold-stop-archive.html" class="dashboard-overview-box w-inline-block">
        <div class="icon-div"></div>
        <div class="overview-box-header">Hold Stop Archive</div>
    </a>
    </div>
    <div data-animation="slide" data-duration="500" data-infinite="1" class="dashboard-slider w-slider">
    <div class="dashboard-slider-mask w-slider-mask">
        <div class="dashboard-slide w-slide">
        <div class="dashboard-slider-card"></div>
        </div>
        <div class="dashboard-slide w-slide">
        <div class="dashboard-slider-card"></div>
        </div>
        <div class="dashboard-slide w-slide">
        <div class="dashboard-slider-card"></div>
        </div>
        <div class="dashboard-slide w-slide">
        <div class="dashboard-slider-card"></div>
        </div>
        <div class="dashboard-slide w-slide"></div>
        <div class="dashboard-slide w-slide"></div>
    </div>
    <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
    </div>
    <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
    </div>
    <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
</div>