<a href="/" class="dashboard-brand w-nav-brand">
  Express Js Blog
  <!-- <img src="/main-styles/images/logo-white.svg" loading="lazy" width="53" alt=""> -->
</a>
    <nav role="navigation" class="nav-menu-2 w-nav-menu">
      <a href="#" class="w-nav-link">16th, August, 2020</a>
      <div class="dashboard-profile-link"></div>
    </nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
</div>