<ul role="list" class="list">
  <li class="dashboard-nav-list-item">
    <a href="/admin" class="dashboard-nav-link active-dashboard-link">Dashboard</a>
  </li>
  <li class="dashboard-nav-list-item">
    <a href="/admin/posts" class="dashboard-nav-link">All Posts</a>
  </li>
  <li class="dashboard-nav-list-item">
    <a href="/admin/posts/create" class="dashboard-nav-link">Add New Post</a>
  </li>
  <li class="dashboard-nav-list-item">
    <a href="search-rim-account.html" class="dashboard-nav-link">Search</a>
  </li>
  <li class="dashboard-nav-list-item">
    <a href="dispense-error.html" class="dashboard-nav-link">Dispense Error</a>
  </li>
  <li class="dashboard-nav-list-item">
    <a href="nuban-account.html" class="dashboard-nav-link">Nuban Account</a>
  </li>
  <li class="dashboard-nav-list-item">
    <a href="hold-stop-archive.html" class="dashboard-nav-link">Hold Stop Archive</a>
  </li>
  <li class="dashboard-nav-list-item">
    <a href="index.html" class="logout-link">Logout</a>
  </li>
</ul>
